@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto&display=swap");

@keyframes fade_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background-color: #111111;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	color: white;
	padding: 1px;
	text-align: center;
}

.header a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0 50px;
	padding: 0;
	overflow: hidden;
	background-color: #131313;
}

li {
	float: left;
}

li a {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	display: block;
	padding: 12px;
	text-decoration: none;
	color: #ffffff80;
}
li a:hover:not(.active) {
	color: #ffffffd2;
}

li .active {
	color: #ffffff;
}

ul.icon {
	list-style-type: none;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100px;
	overflow: hidden;
	background-color: #111111;
}

ul.icon li {
	display: block;
	padding: 20px;
	animation: fade_in 2s ease;
}

ul.icon li a {
	display: block;
	padding: 0px;
}

.icon img:not(#osu) {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
		brightness(102%) contrast(102%);
}
